{{define "Index"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprendendo a criar APIS</title>
</head>
<body>

    <div>
        <h1>Minha primeira aplicação WEB com GO</h1>
        <h2>Aprendendo com o professor <strong>"Guilherme Lima"</strong> da Alura</h2>
    </div>
    <div class="divTable">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                {{range .}}
                <tr>
                    <th>{{.Nome}}</th>
                    <th>{{.Descricao}}</th>
                    <th>{{.Preco}}</th>
                    <th>{{.Quantidade}}</th>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</body>
</html>
{{end}}
